{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organigramme des clubs</title>

    <link rel="stylesheet" href="css/main.css">

    <style>
        {% for club in clubs %}
        #{{ club.id }} {
            --primary-color: {{ club.primary_color }};
            --secondary-color: {{ club.secondary_color }};
            --on-primary-color: {{ club.on_primary_text }};
            
            --member-number: {{ club.member_number }};
        }

        #{{ club.id }} h1::before {
            background-image: url("logos/{{ club.logo_name }}");
        }
        {% endfor %}
    </style>
</head>
<body {% if not show_credentials %}class="no-credentials"{% endif %}>
    {% for club in clubs %}
    {% if club.member_number != 0 %}
    <section class="club" id="{{ club.id }}">
        <h1>{{ club.name }}</h1>

        {% if club.base_members %}
        <section class="group">
            {% for member in club.base_members %}
            {{ macros::card(card=member, primary_color=club.primary_color, secondary_color=club.secondary_color) }}
            {% endfor %}
        </section>
        {% endif %}

        {% for section in club.sections %}
        <section class="group">
            <h2>{{ section.title }}</h2>
            {% for member in section.members %}
            {{ macros::card(card=member, primary_color=club.primary_color, secondary_color=club.secondary_color) }}
            {% endfor %}
        </section>
        {% endfor %}
    </section>
    {% endif %}
    {% endfor %}
</body>
</html>